.sidebar-main {
  background: #f8f9fa;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  padding-left: 0px;
  margin: 0px;
}

.sidebar-item {
  border-bottom: 1px solid white;
  padding-top: 15px;
  margin-top: 0.5rem;
  margin-right: 15px;
  background: #7473c72e;
  margin-left: -10px;
  border-radius: 0px 5px 5px 0px;
  border-left: 2px solid darkgray;
}

.sidebar-item:hover {
  transition: margin-right 0.1s linear;
  margin-right: 12px;
}

.sidebar-title {
  font-family: "Futura PT", -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  padding-left: 10px;
  color: rgb(112, 112, 112);
  text-transform: lowercase;
}

#sidebar-container {
  padding-left: 0px;
  padding-bottom: 10px;
}
