.album-button {
  position: absolute;
  text-align: center;
  bottom: 1.5rem;
  opacity: 0.7;
  &.play {
    left: -0.4rem;
  }
  &.queue {
    right: -0.4rem;
  }
  &.focused {
    left: calc(50% - 1.25rem);
  }
  z-index: 2;
}

.album-button:hover {
  transition: 0.3s opacity ease;
  opacity: 1;
  cursor: pointer;
}

.player-button {
  text-align: center;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  bottom: calc(50% - 1rem);
  z-index: 2;
  &.play {
    left: 1rem;
  }
  &.queue {
    right: 1rem;
  }
}

.player-button-icon {
  border-radius: 50%;
  padding: 0.2rem;
  color: #000;
  background: rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 100%;
}
