#main-nav {
  // background: linear-gradient(#eaedffa3, #b6b6b6);
  background: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-icon {
  opacity: 0.6;
  max-height: 2rem;
  margin: 0.5rem;
  &.ext {
    opacity: 1;
    max-height: 1.5rem;
    margin-left: 0;
  }
}

.nav-link {
  display: unset !important;
  color: rgb(112, 112, 112);
}

.nav-link:hover {
  transition: border-top-width 0.1s linear, margin-top 0.1s linear;
  border-top: solid 3px #6364ca;
  margin-top: -3px;
  color: rgb(83, 83, 83);
}

.navbar-icon-links {
  align-self: center;
  justify-content: end;
  padding: 0px;
  margin: auto;
  margin-right: 1rem;
  text-align: end;
}

.nav-row {
  width: calc(100vw);
}

.nav-container {
  width: 100vw !important;
  max-width: 100vw !important;
}
