@import "../layouts/styles/_imports.scss";

.album {
  border-radius: 0.3rem;
  margin: 0.3rem;
  // border: 1px solid white;
  position: relative;
  color: black !important;
  padding: 0px;
  transition: margin 0.5s ease;
}

.album:hover {
  transition: margin 0.5s ease;
  margin: 0.3rem 1rem 1rem 1rem;
  box-shadow: 3px 3px 8px black;
  // margin: 1rem;
}

.centered-box {
  background: #f8f9fa;
  padding: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem;
}

.react-tooltip-lite {
  font-size: small;
  border-radius: 5px;
  word-wrap: none;
  p {
    padding: 0px;
    margin: 0px;
  }
}

.album-image {
  border-radius: 0.3rem;
  max-height: 100%;
  max-width: 100%;
  margin-right: 1px;
}

@include media-breakpoint-up(xs) {
  .container.nomax.tiled {
    perspective: 50px;
  }
}
@include media-breakpoint-up(sm) {
  .container.nomax.tiled {
    perspective: 25px;
  }
}
@include media-breakpoint-up(md) {
  .container.nomax.tiled {
    perspective: 15px;
  }
}
@include media-breakpoint-up(lg) {
  .container.nomax.tiled {
    perspective: 5px;
  }
}
@include media-breakpoint-up(xl) {
  .container.nomax.tiled {
    perspective: 5px;
  }
}

.track-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8f9fa;
  font-size: medium;
  display: table;
  border-radius: 0.3rem;
  padding: 1rem;
}

.album:hover .track-info {
  opacity: 0.9;
}

.track-info-data {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.album-focused.art img {
  max-width: -webkit-fill-available;
}

.ReactModal__Content {
  left: 10px !important;
  right: 10px !important;
  bottom: unset !important;
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px !important;
  background-color: #2c2c2c !important;
  background-size: 16px 16px !important;
}

@media (max-width: 768px) {
  .ReactModal__Content {
    bottom: 10px !important;
  }

  .container.nomax {
    perspective: 5px;
  }
}

.ReactModal__Overlay {
  z-index: 5;
  max-width: 99vw;
  margin-bottom: 80px;
  margin-top: 6vh;
}

.album-info {
  background: #f5f5f5cc;
  padding: 1rem;
  box-shadow: 3px 3px 8px black;
  border-radius: 0.2rem;
  h4 {
    padding-bottom: 0.5rem;
  }
  * .content {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

.album-focused-image {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px black;
  border: 1px solid rgba(199, 199, 199, 0.5);
}

.container.nomax {
  max-width: unset !important;
  perspective: 2px;
}

.container.nomax.tiled {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #2c2c2c;
  background-size: 16px 16px;
}

.spotify-link {
  color: #3b3b3b !important;
}
.spotify-link:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.album * * .metadata {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  font-size: small;
}

.album * * .content {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  line-height: 1;
}

.spotify-icon {
  max-width: 5rem;
  margin-bottom: 1rem;
}

.next-tracks-arrow {
  position: absolute;
  right: 1rem;
  top: 40vh;
  img {
    max-width: 3rem;
  }
}

.player {
  bottom: 0px;
  position: sticky;
  width: 98vw;
  z-index: 15;
  height: 5rem;
  background: #f8f9fa;
}

.row.album-view {
  margin: 1rem;
  justify-content: center;
}
