@import "../layouts/styles/_imports.scss";

.album {
  background: #000000;
  border-radius: 0.3rem;
  margin: 0.7rem;
  // border: 1px solid white;
  position: relative;
  color: black !important;
  box-shadow: 3px 3px 8px black;
  transform-style: preserve-3d;
  border: 1px solid rgba(199, 199, 199, 0.5);
  padding: 0px;
}

.album:hover {
  transform: rotateX(3deg);
}

.centered-box {
  background: #f8f9fa;
  padding: 3rem;
  border-radius: 0.5rem;
  text-align: center;
}

.react-tooltip-lite {
  font-size: small;
  border-radius: 5px;
  word-wrap: none;
  p {
    padding: 0px;
    margin: 0px;
  }
}

.album-image {
  border-radius: 0.3rem;
  max-height: 100%;
  max-width: 100%;
  margin-right: 1px;
}

@include media-breakpoint-up(xs) {
  .container.nomax.tiled {
    perspective: 50px;
  }
}
@include media-breakpoint-up(sm) {
  .container.nomax.tiled {
    perspective: 25px;
  }
}
@include media-breakpoint-up(md) {
  .container.nomax.tiled {
    perspective: 15px;
  }
}
@include media-breakpoint-up(lg) {
  .container.nomax.tiled {
    perspective: 5px;
  }
}
@include media-breakpoint-up(xl) {
  .container.nomax.tiled {
    perspective: 5px;
  }
}

.track-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f8f9fa;
  font-size: medium;
  display: table;
  border-radius: 0.3rem;
  padding: 1rem;
}

.album:hover .track-info {
  opacity: 0.85;
}

.track-info-data {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.album-focused.art img {
  max-width: -webkit-fill-available;
}

.ReactModal__Content {
  left: 10px !important;
  right: 10px !important;
  bottom: unset !important;
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 10px), url("../../resources/concrete.jpg") !important;
}

@media (max-width: 768px) {
  .ReactModal__Content {
    bottom: 10px !important;
  }

  .container.nomax {
    perspective: 5px;
  }
}

.ReactModal__Overlay {
  z-index: 5;
  max-width: 99vw;
  margin-bottom: 80px;
  margin-top: 6vh;
}

.album-info {
  background: #f5f5f5cc;
  padding: 1rem;
  box-shadow: 3px 3px 8px black;
  border-radius: 0.2rem;
  h4 {
    padding-bottom: 0.5rem;
  }
}

.album-info__track {
  strong {
    padding-right: 1rem;
  }
}

.album-focused-image {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px black;
  border: 1px solid rgba(199, 199, 199, 0.5);
}

.container.nomax {
  max-width: unset !important;
  perspective: 2px;
}

.container.nomax.tiled {
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) 10px), url("../../resources/concrete.jpg");
}

.spotify-link {
  color: #3b3b3b !important;
}
.spotify-link:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.spotify-mini-player {
  bottom: 0px;
  position: sticky;
  width: 98vw;
  z-index: 15;
}
