#main-nav {
  // background: linear-gradient(#eaedffa3, #b6b6b6);
  background: #f8f9fa;
}

.gatsby-resp-image-background-image {
  display: unset !important;
}

.site-container {
  background: #bfbfbf42;
}

.container {
  margin-left: 5px;
  padding: 0px;
  flex-direction: row-reverse;
}

#sidebar-container {
  padding-left: 0px;
  padding-bottom: 10px;
}

.navbar-icon {
  max-height: 40px;
  position: absolute;
  opacity: 0.6;
  top: 8px;
  left: 8px;
}

.article-metadata {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  padding-left: 10px;
  // color: rgb(112, 112, 112);
  color: #6364ca;
}

.sidebar-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.5px;
  padding-left: 10px;
  color: rgb(112, 112, 112);
  text-transform: lowercase;
}

.blog-post-content {
  font-family: serif;
}

body {
  font-family: serif;
}

.content-wrap {
  background: linear-gradient(#dbdbdb, #e0e0e0);
  padding-top: 1rem;
  padding-bottom: 20px;
}

.site-container {
  background: #e0e0e0;
}

.sidebar-main {
  background: #f8f9fa;
  border-radius: 0px 5px 5px 0px;
  height: calc(100%);
  padding: 10px;
  margin: 0px;
}

.nav-link:hover {
  transition: border-top-width 0.1s linear, margin-top 0.1s linear;
  border-top: solid 3px #6364ca;
  margin-top: -3px;
}
